.slideshow {
  scroll-snap-type: y mandatory;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.slideshow section {
  height: 100vh;
  scroll-snap-align: start;
}
.slideshow section.slide {
  border-radius: 2em;
  padding: 1em;
  height: 100%;
  overflow: hidden;
  font-size: 1.2em;
  box-sizing: border-box;
}
.slideshow section.slide h1 {
  font-size: min(2.5em, 5vw);
}
.slideshow section.slide small {
  border-radius: 1em;
  margin-bottom: .5em;
  padding: .5em;
  border: 1px solid black;
  font-size: 1em;
  display: inline-block;
}
.slideshow section.slide .inside {
  padding: 0 5vw;
}
.slideshow section.slide .inside p {
  font-size: min(1.25em, 4vw);
  max-width: 30em;
}
.slideshow section.more {
  display: flex;
  justify-content: center;
  flex-direction: column;
} 
i {
  font-family: 'Times New Roman', Times, serif;
}
@font-face {
  font-family: "pixel";
  src: url("assets/PixelScriptRegular.ttf");
}
@font-face {
  font-family: "3D";
  src: url("assets/3D.ttf");
}
p {
  text-align: justify;
}
.centered {
  text-align: center;
}
#socials {
  text-align: center;
  margin: 1em 0 1em 0;
}
#socials img {
  border-radius: 100%;
  height: 3em;
}
#socials a {
  margin: 0 .5em 0 .5em;
}
#welcome {
  padding: 1em 0 1em 0;
  text-align: center;
  font: 2em "pixel";
  width: 100%;
  background-color: black;
  color: white;
}
#w1 {
  font: 5em "3D";
  font-size: 10vw;
  /* font-size: min(5em, 18vw); */
}
#w2 {
  font-size: 0.5em;
}
html {
  scroll-padding-top: 2em;
}
h1.a {
  color: white;
}
.navbar {
  position: sticky;
  top: 0;
}
.header {
  height: 2em;
  text-align: center;
  font: 1.3em bold
}
.header a {
  float: left;
  color: white;
  line-height: 2em;
  text-decoration: none;
  width: 25%;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
}
.header a:hover {
  background-color: #444;
}
.header a.active {
  background-color: white;
  color: black;
}
@media screen and (max-width: 31em) {
  .header a {
    float: none;
    display: block;
    width: 100%;
    height: auto;
  }
  html {
    scroll-padding-top: 8em;
  }
  .header {
    height: 8em;
  }
}
article {
  margin: .5em;
}
.image {
  float: right;
}
.image img, .image video {
  margin-left: .5em;
  height: min(15em, 25vw);
}
body, html {
  margin : 0;
  padding: 0;
}
h1, h2, h3 {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 2em;
  padding: .5em;
}
div.card small {
  padding: 0 .5em 0 .5em;
  border-radius: .5em;
  border: 1px solid black;
}
div.card {
  border-radius: .5em;
  padding: .5em;
  border: 1px solid black;
  margin: .5em 0 .5em 0;
  overflow: hidden;
}
.display {
  columns: 19em auto;
  column-gap: .5em;
}
.display img, .display video {
  border-radius: .5em;
  border: 1px solid black;
  width: 100%;
  margin-bottom: .25em;
}
.pixelated {
  image-rendering: pixelated;
}
* {
  font-family: Segoe UI Regular, Arial, Helvetica, sans-serif;
}